@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* 基本格式樣式設定 */
.container {
  max-width: 100vw;
}
.bg-dark {
  background-color: #272626;
}
.row {
  display: flex;
  margin: auto;
  max-width: 1200px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #535353;
}

.button-group {
  display: flex;
  padding: 15px 0;
}
.button-group .button {
  border: none;
  outline: none;
  padding: 20px 54px;
  background-color: #ff9933;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s;
}
.button-group .button:hover {
  border: none;
  outline: none;
  padding: 20px 54px;
  background-color: #000;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
/* call icon */
.call-icon {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 4px 10px 0 #2e3a4659;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.call-icon .tip-phone {
  color: #ff9933;
  font-size: 50px;
  margin: auto;
  text-align: center;
  line-height: 1.5;
}

.call-icon i:hover{
  opacity: 0.7;
}
/* toTop */
.toTop {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 58px;
  height: 58px;
  background-color: #ff9933;
  font-size: 20px;
  text-align: center;
  border-radius: 2px;
}
.toTop a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 58px;
  color: #fff;
  text-decoration: none;
}
/* tip */
.tip {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 15px 0;
}
.tip .tip-phone {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.tip .tip-phone span a{
  transition: all 0.3s ease;
}
.tip .tip-phone span a:hover{
  color: #ff9933;
}

.tip .tip-phone i {
  color: #ff9933;
}
.tip-icons {
  vertical-align: center;
}
.tip .tip-icons a {
  font-size: 12px;
  border-radius: 50%;
  color: #272626;
  background-color: #fff;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  transition: all 0.3s ease;
}
.tip .tip-icons a:hover{
  background-color: #ff9933;
}
/* nav */
nav {
  position: sticky;
  z-index: 100;
  top: 0px;
  background-color: #fff;
}
.nav {
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav .logo {
  display: flex;
  align-items: center;
  font-size: 50px;
}
.nav .logo a {
  color: #535353;
  padding-left: 15px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'PT Serif';
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  width: 700px;
}

.list .list-item {
  padding: 15px 0;
  font-weight: 300;
  cursor: pointer;
}
.list .list-item:visited,
.list .list-item:hover , 
.list .list-item:active 
{
  padding: 15px 0;
  font-weight: 300;
  cursor: pointer;
  border-bottom: 3px solid #ff9933;
}

.active {
  border-bottom: 3px solid #ff9933;
}

.nav .button-group .button {
  padding: 13px 30px;
  color: #ff9933;
  background-color: transparent;
  border: 2px solid #ff9933;
  transition: all 0.3s;
}
.nav .button-group .button:hover {
  padding: 13px 30px;
  color: #fff;
  background-color: #7abee9;
  border: 2px solid #7abee9;
}

/* ads */
.ad {
  background-image: url(./img/asset7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ad-content {
  width: 1200px;
  flex-direction: column;
  padding: 90px 15px;
}

.ad-content > p {
  font-size: 50px;
  font-weight: 700;
}
.ad-content > h1 {
  font-size: 80px;
  font-weight: 400;
  color: rgb(122, 190, 233);
}
.ad-content > p:nth-child(3) {
  font-size: 24px;
  font-weight: 400;
}

.ad-content > .button-group {
  padding: 40px 0;
}

/* about */
.about > .row {
  width: 1200px;
  padding-top: 90px;
  justify-content: center;
}

.about-img {
  width: 50%;
  height: 100%;
  padding: 0 15px;
}
.about-img > img {
  width: 100%;
  height: 100%;
}

.about-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
.about-content > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #535353;
  padding-top: 40px;
  padding-bottom: 15px;
}
.about-content > h3 {
  font-size: 30px;
  font-weight: 400px;
  color: #7abee9;
  line-height: 1.5;
  padding-bottom: 18px;
}

.about-content p {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 14px;
}
.about-content .button-group {
  padding-bottom: 40px;
  padding-top: 26px;
}

/* job */
.job {
  background-color: #f9f9f9;
}

.job-content {
  width: 1200px;
  text-align: center;
  padding: 90px 0;
}

.job-content > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #535353;
}

.job-content > p {
  font-size: 30px;
  font-weight: 400px;
  color: #7abee9;
  line-height: 1.5;
  padding-bottom: 15px;
}
.job-group {
  display: flex;
  justify-content: space-between;
  height: 450px;
  padding: 40px 15px 0;
}
.job-group .job-item {
  display: flex;
  flex-direction: column-reverse;
  width: 33%;
  text-align: center;
  font-size: 34px;
  padding-bottom: 40px;
  margin: 0 15px;
  color: #fff;
  transition: all 3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.job-group > .job-item:nth-child(1) {
  background-image: url(./img/asset8.jpg);
}
.job-group > .job-item:nth-child(2) {
  background-image: url(./img/asset9.jpg);
}
.job-group > .job-item:nth-child(3) {
  background-image: url(./img/asset10.jpg);
}

.job-group .job-item:nth-child(1):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/asset8.jpg);
}
.job-group .job-item:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/asset9.jpg);
}
.job-group .job-item:nth-child(3):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/asset10.jpg);
}

.job-group .job-item a:hover {
  color: #ff9933;
}
/* volunteer */
.volunteer {
  padding-top: 90px;
  flex-wrap: wrap;
}
.volunteer > .row {
  padding-bottom: 90px;
  width: 1200px;
  justify-content: space-between;
}
.volunteer-card:nth-child(1) {
  width: 470px;
}
.volunteer-card:nth-child(1) img{
  width: 100%;
}
.volunteer-card:nth-child(2) {
  width: 570px;
  display: flex;
  flex-direction: column;
}
.volunteer-card:nth-child(2) img {
  justify-self: flex-end;
}
.volunteer-title {
  text-align: end;
  padding-bottom: 40px;
}

.volunteer-card p {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 15px;
}
.volunteer-card > img {
  padding-top: 15px;
}
.volunteer-card > .button-group {
  padding: 40px 0 0 0;
}

.volunteer-event {
  width: 100%;
  background-image: url(./img/asset11.jpg);
  padding: 60px 0;
  text-align: center;
}

.volunteer-event > p:nth-child(2) {
  font-size: 30px;
  font-weight: 400;
  color: #7abee9;
  line-height: 1.5;
  padding-bottom: 15px;
}

.volunteer-event > p {
  font-weight: 400;
  font-style: normal;
  color: #535353;
  font-size: 24px;
  line-height: 1.2;
}

.volunteer-event > .button-group {
  display: flex;
  justify-content: center;
  padding: 26px 0 40px;
}
.volunteer-event > .button-group > .button {
  margin: 0 15px;
  letter-spacing: 1px;
  transition: all 0.3;
  margin: 0 15px;
}

.volunteer-event > .button-group > .button:hover {
  color: #fff;
  background-color: #7abee9;
}
/* dogbg */
.dogBg {
  background-image: url('./img/asset13.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.dogBg > .row {
  width: 100%;
  height: 700px;
  padding: 90px 0;
}

/*  orangeLine*/
.orangeLine {
  background-color: #ff9933;
  width: 100%;
}
.orangeLine > .row {
  width: 1200px;
  height: 20px;
}
/* news */
.news > .row {
  padding: 90px 0;
}

.news-content {
  width: 1200px;
}
.news-content > h2 {
  padding-bottom: 15px;
  text-align: center;
}

.news-content > p {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #7abee9;
  line-height: 1.5;
  padding-bottom: 15px;
}

.news-group {
  width: 100%;
  display: flex;
}
.news-group > .news-item {
  width: 50%;
  height: 400px;
  margin: 15px;
  padding-top: 40px ;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-group > .news-item > img {
  border-radius: 50%;
  padding: 15px 0;
}
.news-item > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.news-item > p:nth-child(3) {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}

.news-video {
  padding: 40px 15px 15px 15px;
}

.news-group > .news-item:nth-child(1) {
  background-image: url(./img/asset14.jpg);
}
.news-group > .news-item:nth-child(2) {
  background-image: url(./img/asset15.jpg);
}
/* data */
.data {
  background-image: url('./img/asset16.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.data > .row {
  padding: 90px 0;
}
.data-content {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}
.data-content > .data-item {
  text-align: center;
  padding: 15px 0;
  color: #fff;
}

.data-content > .data-item > .data-num {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}

.data-content > .data-item > .data-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
/* instagram */
.ins .row {
  width: 1200px;
  padding: 90px;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  color: #535353;
}

.ins-group {
  display: flex;
  height: 295px;
}

.ins-item {
  width: 25%;
  height: 100%;
  position: relative;
}
.ins-item img {
  height: 100%;
  width: 100%;
}
.ins-item a {
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  background-color: rgba(255, 153, 51, 0.6);
  
  transition: all 0.5s;
}

.ins-item:hover a {
  opacity: 1;
}
.ins-item a i {
  font-size: 0px;
  line-height: 295px;
}

.ins-item:hover a i {
  font-size: 60px;
}


/* footer */
.footer {
  background-color: #272626;
}

.footer > .row {
  flex-direction: column;
  padding: 45px 0 40px 0;
}

.footer-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-title a {
  font-size: 50px;
  padding-left: 30px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'PT Serif';
  color: #fff;
}

.footer-icons {
  text-align: center;
  font-size: 22px;
  padding: 45px 0 40px 0;
}

.footer-icons > a {
  display: inline-block;
  text-align: center;
  line-height: 56px;
  width: 56px;
  height: 56px;
  color: #f9f9f9;
  border-radius: 2px;
}

.footer-icons > .footer-twitter {
  background-color: #00aeef;
  transition: all .4s ease;
}

.footer-icons > .footer-facebook {
  background-color: #547cd5;
  transition: all .4s ease;
}
.footer-icons > .footer-pinterest {
  background-color: #cc3300;
  transition: all .4s ease;
}
.footer-icons > .footer-linkedin {
  background-color: #0075b6;
  transition: all .4s ease;
}

.footer-icons > .footer-twitter:hover {
  background-color: #00aeefcc;
}

.footer-icons > .footer-facebook:hover {
  background-color: #547cd5cc;
}
.footer-icons > .footer-pinterest:hover {
  background-color: #cc3300cc;
}
.footer-icons > .footer-linkedin:hover {
  background-color: #0075b6cc;
}

.footer-descriptions {
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

.footer-descriptions i {
  color: #ff9933;
  margin-right: 8px;
}

.footer-descriptions a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-descriptions a:hover{
  color: #ff9933;
}